<h2>Eventos</h2>

<hr>

<div class="">
  <div class="form-group mb-2">
    <input type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)] = "filtroLista">
    <label for="">Filtro: {{filtroLista}}</label>
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>
        <button type="button" class="btn btn-light btn-sm"
          (click)="alterarImagem()">
          {{!exibirImagem ? "exibir" : "ocultar"}}
        </button>
      </th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.id}}</td>
      <td>
        <img [collapse]="!exibirImagem"
              [isAnimated]="true"
         src="../../assets/{{evento.imagemURL}}"
         [style.width.px] = "larguraImagem"
         [style.margin.px] = "margemImagem"
         >
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdePessoas}}</td>
      <td>{{evento.lote}}</td>
      <td>
        <button class="btn">
          <i class="fa-solid fa-plus"></i>
        </button>
        <i class="fa-solid fa-pen-to-square"></i>
        <i class="fa-solid fa-trash-can"></i>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento econtrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
